@model ExpedientesAcademicos.Models.expediente

@{
    ViewData["Title"] = "Eliminar expediente";
}

<h1>Eliminar</h1>

<div>
    <h4>expediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.materia.Docente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.expedienteId">Editar</a> |
    <a asp-action="Index">Regresar a lista </a>
</div>
