@model IEnumerable<ExpedientesAcademicos.Models.expediente>

@{
    ViewData["Title"] = "Lista de Expedientes";
}

<h1>Lista de Expediente</h1>

<p>
    <a asp-action="Crear">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.Alumno.Nombre @item.Alumno.Apellido
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.materia.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.expedienteId">Editar</a> |
                <a asp-action="Ver" asp-route-id="@item.expedienteId">Ver</a> |
                <a asp-action="Eliminar" asp-route-id="@item.expedienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
