@model IEnumerable<ExpedientesAcademicos.Models.expediente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.materia.Docente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.expedienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.expedienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.expedienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
