<h1 class="mb-4">Lista de Expedientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo expediente</a>
</p>

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        Expedientes Académicos
    </div>

    <div class="card-body">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Alumno</th>
                    <th>Materia</th>
                    <th>Nota Final</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Alumno.Nombre @item.Alumno.Apellido</td>
                        <td>@item.Materia.NombreMateria</td>
                        <td>@item.NotaFinal</td>
                        <td>@item.Observaciones</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ExpedienteId" class="btn btn-warning btn-sm">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ExpedienteId" class="btn btn-info btn-sm">Ver</a>
                            <a asp-action="Delete" asp-route-id="@item.ExpedienteId" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>