@model IEnumerable<ExpedientesAcademicos.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Materias</h1>

<p>
    <a asp-action="Create">Crear nueva Materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docente)
            </td>
            <td>
                    <a asp-controller="Materias" asp-action="Edit" asp-route-id="@item.MateriaId" class="btn btn-warning btn-sm">Editar</a>

                    <a asp-controller="Materias" asp-action="Details" asp-route-id="@item.MateriaId" class="btn btn-info btn-sm">Ver</a>

                    <a asp-controller="Materias" asp-action="Delete" asp-route-id="@item.MateriaId" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
